* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Navbar */
.navbar-custom {
    background-color: black;
}

.navbar .navbar-toggler span {
    color: white !important;
}

/* Attention Masih Error Untuk Warna Toggle dan Expand Toggle */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}

/* Jumbotron */
.jumbotron {
    background-image: url(../img/Blue\ Sky\ 1.jpg);
    background-size: cover;
    height: 700px;
    padding: 0% !important;
}

.jumbotron .container {
    height: inherit;
    padding-top: 250px;
    padding-bottom: 350px;
}

.jumbotron h1,
p {
    color: white;
}

/* About */
.about {
    background-color: black;
    margin-top: -32px;
}

.about .profile {
    text-align: right;
}

.about .profile img {
    width: 350px;
    height: 500px;
    border-radius: 10px;
    margin: 20px;

}

.about .abt {
    margin-top: 20px;
    color: white;
    text-align: justify;
}

/* Icon */

/* Skills */

.skill {
    /*background-color: #3c3c3c;*/
    background-color: #DFDFE5;
}

.skill h1 {
    padding: 20px;
    /*color: white;*/
}

.skill .row .col {
    padding: 20px;
    text-align: center;
    justify-content: center;
}

.skill .row .col h3 {
    padding: 10px;
    /*color: white;*/
}

/* Contact */
.contact {
    background-color: black;
}

.contact h1 {
    padding: 20px;
    color: white;
}

.contact .row .col {
    padding: 20px;
    text-align: center;
    justify-content: center;
}

.contact .row .col h3 {
    padding: 20px;
    color: white;
}