* {
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar-custom {
    background-color: black;
}

.navbar .navbar-toggler span {
    color: white !important;
}

/* Attention Masih Error Untuk Warna Toggle dan Expand Toggle */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}

/* Jumbotron */
.jumbotron {
    background-image: url(../img/Night\ Sky\ 1.jpg);
    background-size: cover;
}

.jumbotron h1,
p {
    color: white;
}

/* About */
.about {
    background-color: black;
    margin-top: -32px;
}

.about .profile {
    text-align: right;
}

.about .profile img {
    width: 350px;
    height: 500px;
    border-radius: 10px;
    margin: 20px;

}

.about .abt {
    margin-top: 20px;
    color: white;
    text-align: justify;
}

/* Icon */

/* Skills */

.skill {
    /*background-color: #3c3c3c;*/

    background-color: #DFDFE5;
}

.ch1 {
    padding: 20px;
    /*color: white;*/
}

.row .s1 {
    padding: 20px;
    text-align: center;
    justify-content: center;
}

.row .col h3 {
    padding: 10px;
    /*color: white;*/
}